body{
	background-color: #2f2e28;
}
.item{
	height:250 !important;
	position: relative;
	color:white;
	text-align: center;
}
.btnVote, .lblTimer, .btnResults{
	text-align: center;
	color:white;
	height:40px;
}
.btnVote{
	background-color: #e74c3c;
	cursor:pointer;
	font-size: 20px;
}
.lblTimer{
	background-color: #2ecc71;
}
.btnResults{
	background-color: #3498db;
	cursor:pointer;
	font-size: 20px;
}
.container-fluid{
	padding:0 !important;
}
#timer {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #747474;
  letter-spacing: -1px;
}
#timer span {
  font-size: 24px;
  color: #333;
  margin: 0 3px 0 15px;
}
#timer span:first-child {
  margin-left: 0;
}
